<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/bases::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



</head>

<body>
    <section>
        <table class="table table-bordered table-striped" style="margin-top: 50px;" >
			<thead class="table-dark">
				<tr>
					<th>Name</th>
					
					<th>Email</th>
					<th>Image</th>
					


				</tr>
			</thead>


			<tbody>
				<tr th:each="tempStudent : ${students}">
					<td th:text="${tempStudent.fullName}"></td>
					<td th:text="${tempStudent.email}"></td>
					<td><img th:src="@{'/img/'+${tempStudent.imageUrl}}" style="height: 50px; width: 50px;" class="rounded" alt="" ></td>



				</tr>
			</tbody>

		</table>

        
    </section>


</body>

</html>